.Title
{
	font-family: "Bookman Old Style";
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	font-size: 3em;
	

	}

.Logo
{
	position: relative;
	position: absolute; top: 0; left: 0;
}
body {
background: url(hypnotize.png) repeat 0 0;
}
#trueimage
{
	width: 250px;
	height:auto;
	
	
}
#trueimage:hover {
	opacity: 0.6;
}
input[type=text] {
	
	width: 20%;
	padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}